:host { display: block; }

.todos-page { position: relative; }

.todos-page__fab {
  position: fixed;
  right: 16px;
  bottom: calc(80px + 16px);
  z-index: 5;
}

@media (min-width: 600px) {
  .todos-page__fab {
    right: 24px;
    bottom: 24px;
  }
}
